$primary: #5539df;
$secondary: #ffffff;
$tertiary:#8e6bf1;

$header-background-color: $primary;
$header-links-color: $secondary;
$header-links-color-active: $secondary;
$header-icon-color: $secondary;
$header-icon-color-hover: $secondary;
$header-icon-border-color-hover: $secondary;
$header-textfield-background-color: $secondary;
$header-textfield-magnifier-color: $primary;
$header-textfield-text-color: $primary;
$navbar-logo-height: 24px;
$header-toggler-icon: "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{transparentize($secondary, 0.5)}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E" !default;

$footer-background-color: $primary;
$footer-title-color: $secondary;
$footer-text-color: rgba($secondary, 0.7) !default;

$dashboard-stats-item-border-color: $secondary;

.navbar {
  box-shadow: none;
}
.navbar.navbar-primary {
  .search-form {
    @include media-breakpoint-up(xl) {
      height: 36px !important;
    }
  }
  .form-control {
    border-radius: $border-radius-sm;
  }
}