<% status = transaction_status(@transaction) %>
<% token = @transaction.token_address_hash %>
<% exchanger = @transaction.exchanger_address_hash %>
<% exchange_rate = @transaction.exchange_rate %>
<div class="tile tile-type-<%= type_suffix(@transaction) %> fade-in <%= status_class(@transaction) %>" data-test="<%= type_suffix(@transaction) %>" data-identifier-hash="<%= @transaction.hash %>">
  <div class="row tile-body" data-selector="token-transfers-toggle" data-test="chain_transaction">
    <!-- Color Block -->
    <div class="tile-transaction-type-block col-md-2 d-flex flex-row flex-md-column">
      <span class="tile-label" data-test="transaction_type">
        <%= transaction_display_type(@transaction) %>
      </span>
      <span class="tile-status-label ml-2 ml-md-0" data-test="transaction_status">
        <%= if status_class(@transaction) == "tile-status--pending" do %>
          <div class="loading-spinner-small">
            <span class="loading-spinner-block-1"></span>
            <span class="loading-spinner-block-2"></span>
          </div>
        <% end %>
        <%= formatted_status(status) %>
      </span>
    </div>
    <!-- Content -->
    <div class="col-md-7 col-lg-8 d-flex flex-column pr-2 pr-sm-2 pr-md-0">
      <%= render "_link.html", transaction_hash: @transaction.hash %>
      <span class="text-nowrap">
        <%= @transaction |> BlockScoutWeb.AddressView.address_partial_selector(:from, assigns[:current_address]) |> BlockScoutWeb.RenderHelpers.render_partial() %>
        &rarr;
        <%= @transaction |> BlockScoutWeb.AddressView.address_partial_selector(:to, assigns[:current_address]) |> BlockScoutWeb.RenderHelpers.render_partial() %>
      </span>
      <span class="d-flex flex-md-row flex-column mt-3 mt-md-0">
        <span class="tile-title">
          <%= value(@transaction, include_label: false) %>
          <%= gettext "Ether" %>
        </span>
        <span class="ml-0 ml-md-1 text-nowrap">
          <%= formatted_fee(@transaction, denomination: :ether, include_label: false) %>
          <%= gettext "TX Fee" %>
          <%= if token && exchanger && exchange_rate do %>
            <%= gettext "(Pay By Token)" %>
          <% end %>
        </span>
      </span>

      <!-- Transfer -->
      <%= if involves_token_transfers?(@transaction) do %>
        <% filtered_transfers = filtered_token_transfers(@transaction) %>
        <div class="d-flex flex-column mt-2">
          <% [first_token_transfer | remaining_token_transfers] = filtered_transfers %>

          <%= render "_token_transfer.html", address: assigns[:current_address], token_transfer: first_token_transfer %>

          <div class="collapse token-transfer-toggle" id="transaction-<%= @transaction.hash %>">
            <%= for token_transfer <- remaining_token_transfers do %>
              <%= render "_token_transfer.html", address: assigns[:current_address], token_transfer: token_transfer %>
            <% end %>
          </div>
        </div>

        <%= if Enum.any?(remaining_token_transfers) do %>
          <div class="token-tile-view-more">
              <%= link gettext("View More Transfers"), to: "#transaction-#{@transaction.hash}", "data-toggle": "collapse", "data-selector": "token-transfer-open", "data-test": "token_transfers_expansion" %>
              <%= link gettext("View Less Transfers"), class: "d-none", to: "#transaction-#{@transaction.hash}", "data-toggle": "collapse", "data-selector": "token-transfer-close" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- Block info -->
    <div class="col-md-3 col-lg-2 d-flex flex-row flex-md-column flex-nowrap justify-content-center text-md-right mt-3 mt-md-0">
      <span class="mr-2 mr-md-0 order-1">
        <%= @transaction |> block_number() |> BlockScoutWeb.RenderHelpers.render_partial() %>
      </span>
      <span class="mr-2 mr-md-0 order-2" in-tile data-from-now="<%= block_timestamp(@transaction) %>"></span>
      <%= if from_or_to_address?(@transaction, assigns[:current_address]) do %>
        <span class="mr-2 mr-md-0 order-0 order-md-3">
          <%= if @transaction.from_address_hash == assigns[:current_address].hash do %>
            <span data-test="transaction_type" class="badge badge-danger tile-badge">
              <%= gettext "OUT" %>
            </span>
          <% else %>
            <span data-test="transaction_type" class="badge badge-success tile-badge">
              <%= gettext "IN" %>
            </span>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
</div>
