<div class="text-nowrap row mt-3 mt-sm-0" data-test="token_transfer">
  <span class="col-12 col-md-5">
    <%= if from_or_to_address?(@token_transfer, @address) do %>
      <%= if @token_transfer.from_address_hash == @address.hash do %>
        <span data-test="transaction_type" class="text-danger">
            &#8627;
        </span>
      <% else %>
        <span data-test="transaction_type" class="text-success">
            &#8627;
        </span>
      <% end %>
    <% end %>
    <span class="d-inline-block tile-type-token-transfer-short-name">
    <%= @token_transfer |> BlockScoutWeb.AddressView.address_partial_selector(:from, @address, true) |> BlockScoutWeb.RenderHelpers.render_partial() %>
    </span>
    &rarr;
    <span class="d-inline-block tile-type-token-transfer-short-name">
    <%= @token_transfer |> BlockScoutWeb.AddressView.address_partial_selector(:to, @address, true) |> BlockScoutWeb.RenderHelpers.render_partial() %>
    </span>
  </span>
  <span class="col-12 col-md-7 ml-3 ml-sm-0">
    <%= token_transfer_amount(@token_transfer) %>
    <%= link(token_symbol(@token_transfer.token), to: token_path(BlockScoutWeb.Endpoint, :show, @token_transfer.token.contract_address_hash)) %>
  </span>
</div>
