<div class="tile tile-type-token-transfer fade-in">
  <div class="row justify-content-end">
    <div class="col-12 col-md-4 col-lg-2 d-flex align-items-center justify-content-start justify-content-lg-center tile-label">
      <%=  gettext("Token Transfer") %>
    </div>

    <div class="col-12 col-md-8 col-lg-10 d-flex flex-column text-nowrap">
      <%= render BlockScoutWeb.TransactionView, "_link.html", transaction_hash: @token_transfer.transaction_hash %>
      <span class="text-nowrap">
        <%= render BlockScoutWeb.AddressView, "_link.html", address: @token_transfer.from_address, contract: BlockScoutWeb.AddressView.contract?(@token_transfer.from_address) %>
        &rarr;
        <%= render BlockScoutWeb.AddressView, "_link.html", address: @token_transfer.to_address, contract: BlockScoutWeb.AddressView.contract?(@token_transfer.to_address) %>
      </span>

      <span class="tile-title text-truncate">
        <%= token_transfer_amount(@token_transfer) %>
        <%= link(token_symbol(@token_transfer.token), to: token_path(@conn, :show, @token_transfer.token.contract_address_hash)) %>
      </span>
      <span>
        <%= token_transfer_pay_by_token(@token_transfer) %>
      </span>
    </div>
  </div>
</div>
