<footer class="footer">
  <div class="footer-body container">
    <!-- Logo -->
    <div class="row footer-logo-row">
      <div class="col-md-12">
        <%= link to: chain_path(@conn, :show), class: "footer-brand" do %>
          <img class="footer-logo" src="<%= logo_footer() %>" alt="<%= subnetwork_title() %>" />
        <% end %>
      </div>
    </div>

    <% other_explorers = other_explorers() %>
    <% col_size = if Enum.empty?(other_explorers), do: 3, else: 4 %>

    <div class="row">
      <div class="col-md-<%= col_size %>">
        <p class="footer-info-text"><%= gettext("Nakachain Explorer is a tool for inspecting and analyzing the Nakachain blockchain.") %></p>
        <div class="footer-social-icons">
          <a href="https://github.com/nakachain" rel="noreferrer" target="_blank" class="footer-social-icon" title='<%= gettext("Github") %>'>
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/nakacoin" rel="noreferrer" target="_blank" class="footer-social-icon" title='<%= gettext("Twitter") %>'>
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://t.me/nakachain" rel="noreferrer" target="_blank" class="footer-social-icon" title='<%= gettext("Telegram") %>'>
            <i class="fab fa-telegram-plane"></i>
          </a>
        </div>
      </div>

      <div class="col-md-<%= col_size %> footer-list">
        <h3>Community</h3>
        <ul>
          <li><a href="https://nakachain.org" rel="noreferrer" class="footer-link">Nakachain</a></li>
          <li><a href="https://docs.nakachain.org/" rel="noreferrer" class="footer-link"><%= gettext("Documentation") %></a></li>
        </ul>
      </div>

      <% main_nets = main_nets(other_networks()) %>
      <%= unless Enum.empty?(main_nets) do %>
        <div class="col-md-<%= col_size %> footer-list">
          <h3><%= gettext("Main Networks") %></h3>
          <ul>
            <%= for %{title: title, url: url} <- main_nets do %>
              <li><a href="<%= url%>" rel="norefferer" class="footer-link"> <%= title %> </a></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% test_nets = test_nets(other_networks()) %>
      <%= unless Enum.empty?(test_nets) do %>
        <div class="col-md-<%= col_size %> footer-list">
          <h3><%= gettext("Test Networks") %></h3>
          <ul>
            <%= for %{title: title, url: url} <- test_nets do %>
              <li><a href="<%= url%>" rel="noreferrer" class="footer-link"> <%= title %> </a></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= unless Enum.empty?(other_explorers) do %>
        <div class="col-md-<%= col_size %> footer-list">
          <h3><%= gettext("Other Explorers") %></h3>
          <ul>
            <%= for {name, url} <- other_explorers do %>
              <li><a href="<%= url%>" rel="noreferrer" class="footer-link"> <%= name %> </a></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</footer>
